:root {
    --text-base-size: 1rem;

    --color-primary: #609b15;
    --color-text: #212121;
    --color-bg: #f1f1f1;
    --color-bg--dark: #dcdcdc;
    --color-bg--dark--high: #c4c4c4;
    --color-bg--black: #797979;
}
body {
    font-family: "Source Sans Pro";
    font-size: var(--text-base-size);
    color: var(--color-text);
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
}

a {
    color: currentColor;
    &:hover {
        color: currentColor;
        text-decoration: none;
    }
}

.align--full {
    grid-column: 1/-1;
}
